<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>game</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/game.css}">
</head>
<body>
    <div id="player1" class="hand north"></div>
    <div id="player2" class="hand east"></div>
    <div id="player3" class="hand south"></div>
    <div id="player4" class="hand west"></div>

    <script type="application/javascript" th:src="@{/js/game.js}"></script>

    <script>
        $(function() {
            const roomCode = window.location.pathname.split('/')[2];  // Get the room code from the URL
            console.log('Room code: ' + roomCode);  // Add this line
            $.ajax({
                url: '/getAllPlayersHandCards/' + roomCode,  // Add room code to the URL
                type: 'GET',
                success: function(data) {
                    for (let i = 0; i < data.length; i++) {
                        const player = $('#player' + (i + 1));
                        data[i].forEach(function(card) {
                            const img = $('<img alt="card" src="" class="card small-card">');
                            img.attr('src', card);
                            player.append(img);
                        });
                    }
                }
            });
        });
    </script>
</body>
</html>