<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/loginstyle.css}">
</head>
<body>
    <div class="container">
        <div class="info">
            <h2>COMP2004J Demo System</h2>
        </div>
    </div>
    <div class="login-page">
        <div class="form">
            <form class="login-form" th:action="@{/login}" method="post">
                <input type="text" placeholder="username" name="username"/>
                <input type="password" placeholder="password" name="password"/>
                <button type="submit">login</button>
            </form>
        </div>
    </div>
</body>
</html>