<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Mahjong Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:63342/mahjong/src/main/resources/static/css/styles.css">

</head>
<body>
    <div class="container">
        <div class="info">
            <h2 class="text-center mt-5">Mahjong Game</h2>
        </div>
        <div class="login-page">
            <div class="form">
                <form class="login-form" th:action="@{/login}" method="post">
                    <div class="form-group">
                        <input type="text" placeholder="username" name="username" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="password" name="password" class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-primary">login</button>
                    <!--/*@thymesVar id="error" type="java.lang.String"*/-->

                    <p th:if="${error != null}" th:text="${error}" class="error"></p> <!-- 添加错误消息显示 -->
                </form>
                <a th:href="@{/register}" class="btn btn-secondary">Register</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>